<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.practicaloginschoolsqlite">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AdapterUser"
            android:label="@string/title_activity_alert_fields"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".User" />
        <activity android:name=".PanelAdmin" />
        <activity android:name=".Access" />
        <activity android:name=".RolUser" />
        <activity android:name=".Career" />
        <activity android:name=".Subject" />
        <activity android:name=".Teacher" />
        <activity android:name=".Student" />
        <activity android:name=".StudentSubject" />
        <activity android:name=".TeacherSubject" />
        <activity android:name=".Queries" />
    </application>

</manifest>